<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cloud sample</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">
            Cadavre exquis provider
        </h1>
        <p class="subtitle">
            Le dico
        </p>

        <div class="block">
            <p>The time is: <b>{{time}}</b></p>
            <p>Your browser is: <b>{{browser}}</b></p>
        </div>

        <div class="field is-grouped">
            <p class="control">
                <a href="/subject" class="button is-link is-success">Subject</a>
            </p>
            <p class="control">
                <a href="/verb" class="button is-link is-success">Verb</a>
            </p>
            <p class="control">
                <a href="/adjective" class="button is-link is-success">Adjective</a>
            </p>
            <p class="control">
                <a href="health" class="button is-link is-light">Health check</a>
            </p>
        </div>
    </div>

</section>
</body>
</html>